html, 
body {
    height: 100%;
    background: #eef2f3;
}
.wrapper {
    background: #eef2f3;
    padding-bottom: 40px;
}

#login {
    max-width: 768px;
}
#students select {
    padding-right: inherit;
}
.card {
    padding: 20px;
    margin-bottom: 20px;
}

.container {
    margin-top: 40px;
}

.is-warning {
    margin-right: 5px;
}

#loading {
    background: #00c4a7;
}

.button.is-primary {
    margin-bottom: 20px;
}

.anim-appear {
    opacity: 0.01;
}
 
.anim-appear.anim-appear-active{
    opacity: 2;
    transition: opacity 2s ease-in;
}
.has-text-brown {
    color: #c1a227 !important;
}
.has-text-purple {
    color: purple !important;
}
.hidden {
    display: none;
}